
Server/hey-frame-firestore-key.json
Server/__pycache__/chess_server.cpython-38.pyc
Board/.ccsproject
Board/.cproject
Board/.launches/Chess Board.launch
Board/.project
Board/.settings/org.eclipse.cdt.codan.core.prefs
Board/.settings/org.eclipse.cdt.debug.core.prefs
Board/.settings/org.eclipse.core.resources.prefs
Board/.vscode/settings.json
Board/Debug/BoardSupportPackage/DriverLib/subdir_rules.mk
Board/Debug/BoardSupportPackage/DriverLib/subdir_vars.mk
Board/Debug/BoardSupportPackage/src/BackChannelUart.d
Board/Debug/BoardSupportPackage/src/BackChannelUart.obj
Board/Debug/BoardSupportPackage/src/BSP.d
Board/Debug/BoardSupportPackage/src/BSP.obj
Board/Debug/BoardSupportPackage/src/ClockSys.d
Board/Debug/BoardSupportPackage/src/ClockSys.obj
Board/Debug/BoardSupportPackage/src/demo_sysctl.d
Board/Debug/BoardSupportPackage/src/demo_sysctl.obj
Board/Debug/BoardSupportPackage/src/i2c_driver.d
Board/Debug/BoardSupportPackage/src/i2c_driver.obj
Board/Debug/BoardSupportPackage/src/subdir_rules.mk
Board/Debug/BoardSupportPackage/src/subdir_vars.mk
Board/Debug/BoardSupportPackage/src/uart.d
Board/Debug/BoardSupportPackage/src/uart.obj
Board/Debug/CC3100SupportPackage/board/board.d
Board/Debug/CC3100SupportPackage/board/board.obj
Board/Debug/CC3100SupportPackage/board/subdir_rules.mk
Board/Debug/CC3100SupportPackage/board/subdir_vars.mk
Board/Debug/CC3100SupportPackage/cc3100_usage/sl_usage.d
Board/Debug/CC3100SupportPackage/cc3100_usage/sl_usage.obj
Board/Debug/CC3100SupportPackage/cc3100_usage/subdir_rules.mk
Board/Debug/CC3100SupportPackage/cc3100_usage/subdir_vars.mk
Board/Debug/CC3100SupportPackage/simplelink/source/device.d
Board/Debug/CC3100SupportPackage/simplelink/source/device.obj
Board/Debug/CC3100SupportPackage/simplelink/source/driver.d
Board/Debug/CC3100SupportPackage/simplelink/source/driver.obj
Board/Debug/CC3100SupportPackage/simplelink/source/flowcont.d
Board/Debug/CC3100SupportPackage/simplelink/source/flowcont.obj
Board/Debug/CC3100SupportPackage/simplelink/source/fs.d
Board/Debug/CC3100SupportPackage/simplelink/source/fs.obj
Board/Debug/CC3100SupportPackage/simplelink/source/netapp.d
Board/Debug/CC3100SupportPackage/simplelink/source/netapp.obj
Board/Debug/CC3100SupportPackage/simplelink/source/netcfg.d
Board/Debug/CC3100SupportPackage/simplelink/source/netcfg.obj
Board/Debug/CC3100SupportPackage/simplelink/source/nonos.d
Board/Debug/CC3100SupportPackage/simplelink/source/nonos.obj
Board/Debug/CC3100SupportPackage/simplelink/source/socket.d
Board/Debug/CC3100SupportPackage/simplelink/source/socket.obj
Board/Debug/CC3100SupportPackage/simplelink/source/spawn.d
Board/Debug/CC3100SupportPackage/simplelink/source/spawn.obj
Board/Debug/CC3100SupportPackage/simplelink/source/subdir_rules.mk
Board/Debug/CC3100SupportPackage/simplelink/source/subdir_vars.mk
Board/Debug/CC3100SupportPackage/simplelink/source/wlan.d
Board/Debug/CC3100SupportPackage/simplelink/source/wlan.obj
Board/Debug/CC3100SupportPackage/spi_cc3100/spi_cc3100.d
Board/Debug/CC3100SupportPackage/spi_cc3100/spi_cc3100.obj
Board/Debug/CC3100SupportPackage/spi_cc3100/subdir_rules.mk
Board/Debug/CC3100SupportPackage/spi_cc3100/subdir_vars.mk
Board/Debug/ccsObjs.opt
Board/Debug/Chess Board.map
Board/Debug/Chess Board.out
Board/Debug/Chess Board_linkInfo.xml
Board/Debug/main.d
Board/Debug/main.obj
Board/Debug/makefile
Board/Debug/objects.mk
Board/Debug/sources.mk
Board/Debug/src/main.d
Board/Debug/src/main.obj
Board/Debug/src/subdir_rules.mk
Board/Debug/src/subdir_vars.mk
Board/Debug/startup_msp432p401r_ccs.d
Board/Debug/startup_msp432p401r_ccs.obj
Board/Debug/subdir_rules.mk
Board/Debug/subdir_vars.mk
Board/Debug/system_msp432p401r.d
Board/Debug/system_msp432p401r.obj
Board/msp432p401r.cmd
Board/startup_msp432p401r_ccs.c
Board/system_msp432p401r.c
Board/targetConfigs/MSP432P401R.ccxml
Board/targetConfigs/readme.txt
Server/__pycache__/chessServer.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
Remote Chess Script.docx
Remote Chess Script.pdf
