
Server/hey-frame-firestore-key.json
Server/__pycache__/chess_server.cpython-38.pyc
Server/__pycache__/chessServer.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
Remote Chess Script.docx
Remote Chess Script.pdf
Voice Recordings/*
Remote_Chess_Script.docx
